@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: 'Montserrat', sans-serif;
	color: black;
	background-repeat: no-repeat;
	background-size: cover;
}

.title, .subtitle, p {
	color: white;
}

a:hover {
	color: lightblue;
}

a.navbar-item:hover {
	background-color: transparent;
}

.navbar-burger .is-active div {
	color: black;
}

.navbar-menu {
	background-color: white;
}

a.navbar-item p {
	color: black;
}

.avatar {
	width: 300px;
	display: block;
	margin: auto;
}

.banner {
	padding: 30px;
    /* Code from samonyt.xyz */
    background: linear-gradient(90deg, #B14988, #61487E);
	background-size: 400% 400%;
	-webkit-animation: gradient 5s ease infinite;
	-moz-animation: gradient 5s ease infinite;
	-o-animation: gradient 5s ease infinite;
	animation: gradient 5s ease infinite;
}

.typeface {
	width: 250px;
	margin: auto;
	display: block;
}

a.level-item:hover {
	transition: transform 1s ease;
	transform: scale(1.25);
}

.footer {
	text-align: center;
	padding: 1em;
	background: linear-gradient(90deg, #B14988, #61487E);
	-webkit-animation: gradient 5s ease infinite;
	-moz-animation: gradient 5s ease infinite;
	-o-animation: gradient 5s ease infinite;
	animation: gradient 5s ease infinite;
}

.fab {
	color: white;
}

.fas {
	font-size: 125px;
}

.icon {
	font-size: 40px;
}

.mini-icon {
	width: 75px;
	border-radius: 100%;
	border: 1px solid black;
}

.me {
	width: 250px;
	border-radius: 25%;
	margin: auto;
	display: block;
}

.box p {
	color: black !important;
}

.box .fas {
	color: black;
}

.media-content {
	overflow-y: hidden;
}

.branding {
	width: 300px;
	display: block;
	margin: auto;
}