@import url('https://fonts.googleapis.com/css?family=Montserrat');
@font-face {
	font-family: pepsiLight;
	src: url(../fonts/Pepsi_Light.ttf);
};

body {
	font-family: 'Montserrat', sans-serif;
	color: black;
}

.title, .subtitle, p {
	color: white;
}

.devices {
	font-family: pepsiLight;
	font-size: 2.3rem;
}

.brandingFont {
	font-family: pepsiLight;
	font-size: 2.5rem;
	font-weight: bold;
}

a:hover {
	color: lightblue;
}

a.navbar-item:hover {
	background-color: transparent;
}

.navbar-burger .is-active div {
	color: black;
}

a.navbar-item p {
	color: black;
}

.navbar-menu {
	background-color: white;
}

.xeon-avatar {
	width: 300px;
	display: block;
	margin: auto;
	border-radius: 100%;
	border: 2px solid white;
}

.avatar {
	width: 300px;
	display: block;
	margin: auto;
}

.discord-profile {
	width: 250px;
	display: block;
	margin: auto;
	border-radius: 15%;
}

.banner {
	padding: 30px;
}

.level-item i {
	background-color: transparent;
	color: white;
}

.typeface {
	width: 250px;
	margin: auto;
	display: block;

}

.footer-icon {
	color: black !important;
}

.footer {
	text-align: center;
	padding: 1em;
	background-color: white;
}

.background-section {
	padding: 45px 0;
	background: #5148ff;
	margin-top: 25px;
}

.fas {
	font-size: 125px;
}

.fab, .far {
	color: black;
}

.icon {
	font-size: 40px;
}

.mini-icon {
	width: 75px;
	border-radius: 100%;
	border: 1px solid black;
}

.white-section {
	background-color: white;
	padding: 50px;
}

.white-section p {
	color: black;
}

.me {
	margin-top: 35px !important;
	width: 250px;
	border-radius: 100%;
	border: 5px solid white;
	margin: auto;
	display: block;
	transition: 0.8s ease;
	-webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.me:hover {
	transform: rotate(360deg);
}

.box p {
	color: black !important;
}

.box .fas {
	color: black;
}

.media-content {
	overflow-y: hidden;
}

.branding {
	width: 200px;
	display: block;
	margin: auto;
}


#banner {
    padding: 300px 0;
	background: url(../img/bg.png) center/cover;
}

#xeon-banner {
	padding: 300px 0;
	background: url(../img/xeonbg.png) center/cover;
}

    @-webkit-keyframes fade {
        0%{background-position:0% 4%}
        50%{background-position:100% 97%}
        100%{background-position:0% 4%}
    }
    @-moz-keyframes fade {
        0%{background-position:0% 4%}
        50%{background-position:100% 97%}
        100%{background-position:0% 4%}
    }
    @-o-keyframes fade {
        0%{background-position:0% 4%}
        50%{background-position:100% 97%}
        100%{background-position:0% 4%}
    }
    @keyframes fade {
        0%{background-position:0% 4%}
        50%{background-position:100% 97%}
        100%{background-position:0% 4%}
    }
.banner {
	position: relative;
}
.banner a {
	color: #fff !important;
}
.banner:before {
	content: "";
	position: absolute;
	top: -5px;
	left: 50%;
	transform: translateX(-50%);
	height: 0px;
	width: 200px;
	background: #fff;
}
.main-section .socials {
	display: flex;
	justify-content: center;
	padding: 50px 0;
	align-items: center;
	margin-top: -20px;
}
.main-section .socials a {
	display: block;
	width: 42px;
	height: 42px;
	margin: 0 5px;
}
.main-section .grey-discord-icon a:hover .fab {
	color: rgb(56, 56, 56) !important;
}
.main-section .socials a:hover .fab {
	color: #5148ff
}
.main-section .socials a .fab {
	color: #fff;
	width: 42px;
	height: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 38px;
}
.white-section .subtitle.is-6 {
	margin: 0;
}
.white-section .title.is-4 {
	margin-top: 25px;
}
.white-section img {
    width: 256px;
    border-radius: 50%;
    transition: 0.2s ease;
}
.white-section img:hover {
    border-radius:25%;
}
