@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: 'Montserrat', sans-serif;
	color: black;
	background-repeat: no-repeat;
	background-size: cover;
}

.title, .subtitle, p {
	color: white;
}

a:hover {
	color: lightblue;
}

a.navbar-item:hover {
	background-color: transparent;
}

.navbar-burger .is-active div {
	color: black;
}

.navbar-menu {
	background-color: white;
}

a.navbar-item p {
	color: black;
}

.avatar {
	width: 300px;
	display: block;
	margin: auto;
}

.banner {
	background-color: #EA00D5;
	padding: 30px;
	/* Code from da532.com */
	background: linear-gradient(321deg, #B14988, #61487E);
    background-size: 400% 400%;
    
    -webkit-animation: fade 14s ease infinite;
    -moz-animation: fade 14s ease infinite;
    -o-animation: fade 14s ease infinite;
    animation: fade 14s ease infinite;}
    
    @-webkit-keyframes fade {
        0%{background-position: 0% 4%}
        50%{background-position: 100% 97%}
        100%{background-position: 0% 4%}
    }
    @-moz-keyframes fade {
        0%{background-position: 0% 4%}
        50%{background-position: 100% 97%}
        100%{background-position: 0% 4%}
    }
    @-o-keyframes fade {
        0%{background-position: 0% 4%}
        50%{background-position: 100% 97%}
        100%{background-position: 0% 4%}
    }
    @keyframes fade {
        0%{background-position: 0% 4%}
        50%{background-position: 100% 97%}
        100%{background-position: 0% 4%}
    }
}

.typeface {
	width: 250px;
	margin: auto;
	display: block;
}

a.level-item:hover {
	transition: transform 1s ease;
	transform: scale(1.25);
}

.footer {
	text-align: center;
	width: 100%;
}

.fab {
	color: white;
}

.fas {
	font-size: 125px;
}

.icon {
	font-size: 40px;
}

.mini-icon {
	width: 75px;
	border-radius: 100%;
	border: 1px solid black;
}

.box p {
	color: black !important;
}

.box .fas {
	color: black;
}

.media-content {
	overflow-y: hidden;
}

.branding {
	width: 300px;
	display: block;
	margin: auto;
}